[submodule "RALLP_V2_Firmware"]
	path = RALLP_V2_Firmware
	url = https://github.com/OORB-Open-Organic-Robotics/RALLP_V2_Firmware.git
[submodule "rallp_v2"]
	path = rallp_v2
	url = https://github.com/OORB-Open-Organic-Robotics/rallp_v2.git
	branch = rallp_v2.0
